<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="utf-8">
  <title>Uus algus, veebiprogrammeerimine</title>
</head>
<body>
  <img src="image/vp_banner_2025_TA.jpg" alt="kursuse banner">
  <h1>Jan Marken Juhalu, esimene tund</h1>
  <p>Seda tundi õpetas Andrus Rinde ja seda ma kirjutan <a href="https://www.tlu.ee">Tallinna Ülikoolis</a>, sest ma olen nimedega mega halb</p>
  <hr>
  <p>Kirjtasin seda teksti kohe peale seda kuima selle kodust valmissain. Kui enda kohta midagi lisada siis ma lisaks et mulle meeldib rahvatants ja jõusaalis käia. Ja elu on keeruline</p>
  <hr>
  <ul>
      <li><a href="/">Avaleht</a></li>
  </ul>
  <hr>
  <h2>Eesti film</h2>
  <ul>
    <li><a href="/eestifilm/filmiinimesed">Eesti filmiinimesed</a></li>
    <li><a href="/eestiFilm/filmiinimesed_add">Eesti filmiinimeste lisamine</a></li>
    <li><a href="/eestiFilm/eestiFilmid">Esti filmide loetelu</a></li>
  </ul>
  <!-- -->

</body>

</html>